<div class="containor">
    <div class="row">
        <div class="col-md-4 m-auto">
            <h3>Welcome to Dashboard</h3>
            <p>welcome {{ user }}</p>
            <br>
            <br>
            <a href="/logout" class="btn btn-primary">LOGOUT</a>
        </div>
    </div>
</div>